{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">

  <h1>
    About Motor Garage
  </h1>
  <p>
    Author: Jack Cullen-Fitzpatrick
    <br>Phone Number: 087-4321234
    <br>E-Mail: jack@gmail.com</br>
  </p>

<div id="map-canvas"></div>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false" type="text/javascript"></script>

  <p>
    This is a ficticious web app. Created for educational purposes only
  </p>
  
  <i class="ui huge google play icon"></i>
  <i class="ui huge instagram icon"></i>
  <i class="ui huge twitter icon"></i>

</section>