{{> menu}}

<section class="ui center aligned middle aligned segment">
  
  <h1 class="ui header">
    Welcome to Motor Garage
  </h1>
  <img src="https://cdn.glitch.com/86842057-ad21-4c07-b156-a74f3dc279f3%2Flogo.png?1552255799849" alt="Logo" height="180px" width="500px">
  <p>
    An app that lets you store your dream vehicles. <br>It can be used by absolutely everyone.</br>
    <br>Store your dream cars here!</br>
  </p>
</section>